ipykernel
jupyter

pandas
numpy
matplotlib
seaborn

scikit-learn
tensorflow
torch
torchvision
soundfile
groq
openai
transformers
sentence-transformers
langchain
langchain-openai
langchain-community
langgraph
langsmith

nltk==3.9.2
crewai

fastapi
uvicorn

chromadb
faiss-cpu

mcp 
fastmcp==3.3.1
streamlit




